@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: Commissioner, sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
}

nav {
  height: 20em;
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  background-image: url(images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
}

p,
span {
  color: hsl(0, 0%, 48%);
}

button {
  padding: 1.5em 2em;
  margin-top: 1.2em;
  border-radius: 2.5em;
  border: none;
  color: white;
  background-color: hsl(176, 50%, 47%);
  font-size: 1em;
  font-weight: 700;
}

hr {
  width: 20%;
  height: 1px;
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 48%);
  opacity: 0.3;
}

.card {
  text-align: center;
  margin: 1.5em;
  padding: 1em 1em;
  border: 1px solid rgb(233, 233, 233, 0.8);
  border-radius: 10px;
  background-color: white;
  position: relative;
  bottom: 6em;
}

.card-content {
  padding: 1em 0;
}

.buttons-wrapper {
  display: flex;
  gap: 0.8em;
}

.buttons-wrapper button {
  flex: 2 0 0;
}

.buttons-wrapper a {
  margin-right: 0.59em;
}

.buttons-wrapper a img {
  height: 100%;
}

.about {
  text-align: justify;
}

.progress-bar {
  margin-bottom: 2em;
  height: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
}

.progress {
  height: 100%;
  width: 80%;
  background-color: hsl(176, 50%, 47%);
  border-radius: inherit;
}

.about h2 {
  text-align: start;
}

.number {
  font-size: 2.4em;
  font-weight: 700;
}

#first-number {
  margin-top: 0.8em;
}

.card:first-of-type(h2) {
  margin-top: 0;
}

.nav-items {
  display: flex;
}

.nav-items a {
  flex: 0 0 2em;
}

.reward {
  margin-bottom: 1.2em;
  padding: 1.2em;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.reward h3 {
  margin: 0;
  padding: 0;
}

.pledge {
  color: hsl(176, 50%, 47%);
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.remaining {
  color: black;
  font-weight: 700;
  font-size: 3em;
  line-height: -10px;
}

.disabled {
  opacity: 0.5;
}

.disabled-button {
  background-color: hsl(0, 0%, 48%);
}

.numbers-left-wrapper {
  display: flex;
  gap: 0.5em;
}

.numbers-left-wrapper span {
  align-self: center;
}

@media screen and (min-width: 375px) {
}
